:root{
	--jdeere: #207300;
	--hawks: #002A5C;
	--broken: url("src/tmp_Img.svg");
}
body{
	background-color: #eee;
	font-family: Arial;
	margin: 0;
}
main{
	background-color: #fff;
	margin: 3.75em auto 0 auto;
	padding: 0.1em;
	width: 95%;
}
.landingArticle{
	aspect-ratio: 3/1;
	width: 100%;
}
.leftArticle{
	aspect-ratio: 1.5/1;
	float: left;
	width: 50%;
}
.navBttn{
	font-size: 1.2em;
	padding: 1em;
	display: block;
	vertical-align: middle;
}
.navFlex{
	background-color: var(--hawks);
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
}
.navFlex a{
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.1s;
}
.navFlex a:hover{
	background-color: var(--jdeere);
	text-decoration: underline;
}
.navFlex .logo{
	height: 0;
	aspect-ratio: 1;
	display: block;
}
.rightArticle{
	aspect-ratio: 1.5/1;
	float: right;
	width: 50%;
}
.webName{
	font-size: 2em;
	padding: 0.3em;
	margin: 0 auto 0 auto;
}